/*---Initializing---*/
:root{
    --blue-color: rgb(0, 125, 228);
    --grey-color:#555;
    --box-shadow-light: 0px 1px 10px rgba(57,56,61,0.101);
    --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', cursive;
}
.title-text{
    font: normal bold 50px/72px;
    font-size: 50px;
    line-height: 72px;
}
h1::after
{
    content:'';
    background: #007bff;
    display: block;
    height: 3px;
    width: 150px;
    margin: 5px auto 2rem;
}


/*---NavBar---*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0rem 0rem;
    background-color: white;
    box-shadow: var(--box-shadow-light);
}
.navbar-brand img
{
    height: 40px;
    padding-left: 15px;
}
.navbar-brand li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: right;
}
#nav-bar ul li a:hover
{
    color: var(--blue-color) !important;
    border-bottom: 1px var(--grey-color) solid;
    transition: 0.4s ease-in;
}
.navbar
{
    background: white;
}
.navbar-toggler
{
    border: none !important;
}
.nav-item
{
    padding: 0 10px;
}
.nav-link
{
    color: var(--grey-color) !important;
    font-weight: 600;
    font-size: 16px;
}

/*----Home-------*/
#home-site{
    background-image: linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.747)),
    url(img/home.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    color: white !important;
    padding-top: 50px;
    padding-bottom: 15rem;   
}
.site-title h3{
    padding-top:20% ;
    font-weight: 500;
    font-size: 1.5rem;
}
.site-title h3:after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: white;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-title h1{
    margin-top: 2rem;
    font-size: 5rem ;
}
.site-title h4{
    font-size: 2rem ;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.btn-outline-light{
    margin-left: 2rem;
}

/*--------Load Console-----*/
.terminal-window{
    color: yellowgreen !important;
    font-size: 1.1rem;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    background: rgba(26, 26, 26, 0.644);
    margin-top: 20%;
    min-height: 65%;
    height: 80%;
    border-radius: 7px;
    opacity: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
}

/*-----Abou area--------*/
.about-area{
    padding: 4rem 0;
}
.about-area h1{
    font-size: 35px;
    font-weight: bold;
}
.about-title{
    font: normal bold ;
    
}
.about-title h2> span{
    display: block;
    font: normal bold ;
    letter-spacing: 18px;
    font-size: 38px;
    line-height: 40px;
}
.paragraph >p{
    padding: 1rem 0;
    line-height: 1.7rem;
}
p.para{
    font: normal 500 16px/25px ;
}
.experience-area{
    
    margin-left: -2rem;
    margin-top: -2rem;
    
}
.years-area{
    background: url(./img/about-me.png) no-repeat 40px 20px;
    padding: 2rem 0;
    width: auto;
    height: auto;
    padding-left: 9rem;
    position: relative;
}
.years{
    font: normal bold;
    font-size: 84px;
    line-height: 40px;
    margin-left: 2rem;
    z-index: 2;
    
}
.experience-area span{
    display: block;
}
.skills-bar{
    margin-top: 2rem;
}

.skills-bar p
{
    margin-bottom: 0rem;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 2rem;
}
.progress-bar
{
    border-radius: 16px;
}
/*---------Services---------*/
.services-area{
    padding: 3rem 0;
    background-color: rgba(238, 238, 238, 0.212);
    text-align: center;
}
.services-title h1{
    font-size: 35px;
    font-weight: bold;
}
.services{
    background: rgba(240, 240, 240, 0.959);
    padding: 2rem 0;
    width: auto;
    border-radius: 10px;
    min-height: 400px;
    margin: 2rem auto;
    transition: .7s ease;
    box-shadow: var(--box-shadow-light);
}
.services:hover{
    box-shadow: var(--box-shadow);
}
.card-title{
    padding-top: 2rem;
    font-weight: bold;
    color: var(--grey-color);
}
.icon
{
    font-size: 35px;
    margin: 0rem auto;
    padding: 10px 0 20px 0;
    height: 80px;
    width: 80px;
    text-align: center;
    color: var(--blue-color);
    border: 3px solid var(--blue-color);
    border-radius: 50%;
}


/*-----Testimonials------*/
#testimonials
{
    padding: 3rem 0;
    background-color: rgba(238, 238, 238, 0.438);
}
#testimonials h1{
    font-size: 35px;
    font-weight: bold;
}
#testimonials .row
{
    padding-top: 2rem;
    
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
    height: auto;
    min-height: 250px;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img
{
    top:-60px;
    position: absolute;
    left: calc(50% -60px);
    border: 10px solid #fff;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span
{
    font-size: 12px;
    font-weight: 333;
    color: #333;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before
{
    content: open-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: close-quote;
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}

/*---- Contact -------*/
#contact-area{
    padding: 3rem 0;
    background-color: rgba(238, 238, 238, 0.438);
}
#contact-area h1{
    font-size: 35px;
    font-weight: bold;
}
.contact-form{
    padding: 15px;
}

.form-control
{
    border-radius: 4px !important;
    border: none !important;
}
::placeholder
{
    color: #999999 !important;
}
.follow
{
    background: white;
    padding: 10px;
    
}
.contact-info
{
    margin-top: 15px;

}
.contact-info .fa
{
    margin: 10px;
    color: var(--blue-color);
    font-weight: bold;
}




/*-------Footer--------*/
#footer
{
    background: #333;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 2rem ;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}











/*------------------------------- Responsive ------------------------------- */

/*-------- Larger Devices ------ */
@media (min-width: 1300px){
    #nav-bar{
        padding: 0rem 5rem;
    }
    .paragraph p{
        padding-right: 2rem ;
    }
}

/*--------- Medium Devices ------*/
@media (min-width: 992px) and (max-width: 1199px) {
    #nav-bar{
        padding: 0rem 2rem;
        z-index: 10;
    }
    #home-site{
        height: auto;
        padding-bottom: 5rem;
      
    }
    .site-title h1{
        margin-top: 1rem;
        font-size: 3.7rem ;
    } 
    .paragraph p{
        padding-right: 3rem ;
    }

}

/*--------- Small Devices ------*/
@media (min-width: 768px) and (max-width: 991px) {
   #home-site {
       text-align: center;
       height: auto;
       padding-bottom: 4rem;
       padding-top: 2rem;
       
   }
   .site-buttons{
       text-align: center;
       justify-content: center;
       padding: 0;
   }
   .terminal-window{
       display: none;
   }
   .about-title{
    text-align: center;
    display: inline;
    }

}

/*---- Extra Small Devices -----*/
@media(max-width: 767px){
    #home-site{
        text-align: center;
        height: auto;
        padding-bottom: 4rem;
    } 
    .site-title h1{
        margin-top: 1rem;
        font-size: 3rem ;
    }
    .site-title h4{
        font-size: 1.5rem ;
    }
    
   .terminal-window{
    display: none;
    }
    
    .btn-outline-light{
    margin: 2rem 1rem;
    }
    .about-area{
        text-align: center;
        padding: 3rem 1rem;
    }
    .about-title{
        margin-top: -1.5rem;
    }
    .about-area h2 > span{
        font-size: 25px;
        letter-spacing: 2px;

    }
    .years-area{
        height: 200px;
        padding-left: 0;
        justify-content: center;
    }
    .years{
        margin-top: 70px;
        position: relative;
        text-shadow: 2px 3px 4px white;
    }
    .years-practice {
        margin-top: 70px;
        font-size: 25px;
        font-weight: bold;
        text-shadow: 2px 3px 4px white;
        position: relative;
    }
  
}
